@model IEnumerable<Bookmobile.Models.Outreach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffIdSecondary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibraryStaff.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffIdSecondary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibraryStaff.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.SchoolName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutreachId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OutreachId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutreachId })
        </td>
    </tr>
}

</table>
