@model IEnumerable<Bookmobile.Models.LibraryStaff>

@{
    ViewBag.Title = "Staff Directory";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Return to Main", "Index", "Home")
</p>
<p>
    <input type="button" class="btn btn-info" value="Add New Staff" onclick="location.href='@Url.Action("Create", "LibraryStaffs")'" />

</p>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="col-md-6">
                    @Html.ActionLink("Edit", "Edit", new { id = item.StaffId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StaffId }) |                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.StaffId })
                </td>
            </tr>
        }

</div>

    </table>
<div>
    @Html.ActionLink("Return to Main", "Index", "Home")
</div>


